In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import rasterio

import os, h5py
from pathlib import Path
import openpyxl

import holoviews as hv

In [2]:
lwi_struct_pt_loc = r'../../data/raw/Survey/West_Fork_12162022_RAS.shp'

In [3]:
gdf = gpd.read_file(lwi_struct_pt_loc)

In [4]:
gdf.head()

,PT,NORTHING,EASTING,ELEVATION,DESCRIPTIO,geometry
0,100,658532.527,2648545.182,0.704,246_INFO_WATER TOP______,POINT Z (2648545.182 658532.527 0.704)
1,101,656192.888,2656460.722,0.735,246_INFO_WATER TOP______,POINT Z (2656460.722 656192.888 0.735)
2,102,659243.745,2675568.665,0.861,246_INFO_WATER TOP______,POINT Z (2675568.665 659243.745 0.861)
3,200,658502.051,2648554.247,4.154,300 ST_NOTE_NG______,POINT Z (2648554.247 658502.051 4.154)
4,201,658525.458,2648546.139,2.546,300_NOTE_TOP______,POINT Z (2648546.139 658525.458 2.546)

In [6]:
bridge_codes = [str(x) for x in range(130,178)]
guardrail_codes = [str(x) for x in range(180,199)]
roadway_codes = [str(x) for x in range(47,95)]
cl_codes = [str(x) for x in range(47,54)]
drainagesruct_codes = [str(x) for x in range(250,297)]

In [15]:
descriptions = gdf.DESCRIPTIO.unique().tolist()

 ### use cl codes to get gdf of centerline points in survey

In [36]:
cl_descriptions = []
for i in descriptions:
    for j in cl_codes:
        if j in i:
            cl_descriptions.append(i)

In [37]:
cl_gdf = gdf.loc[gdf['DESCRIPTIO'].isin(cl_descriptions)]
cl_gdf

,PT,NORTHING,EASTING,ELEVATION,DESCRIPTIO,geometry
411,1266,656423.2100,2654323.230,-12.0900,300 ST JPT 249________,POINT Z (2654323.230 656423.210 -12.090)
469,1325,656472.7100,2654271.510,-7.4400,300 JPT 250________,POINT Z (2654271.510 656472.710 -7.440)
2594,0,657135.2400,2679990.150,-5.5200,300 JPT 252_1________,POINT Z (2679990.150 657135.240 -5.520)
2813,0,657336.6300,2680076.790,-8.7500,300 JPT 253_1________,POINT Z (2680076.790 657336.630 -8.750)
2883,0,701694.3419,2667308.242,25.4604,48 ST_OWNER_0_NUMBER_0_RD.NAME_CAMP EDGEWOOD R...,POINT Z (2667308.242 701694.342 25.460)
...,...,...,...,...,...,...
7743,0,842193.1248,2643051.180,162.9223,51 ST_OWNER_0_NUMBER_0_RD.NAME_NA_MATRL_OTHER,POINT Z (2643051.180 842193.125 162.922)
7746,0,842191.9503,2643086.209,162.4153,51_OWNER_0_NUMBER_0_RD.NAME_NA_MATRL_OTHER,POINT Z (2643086.209 842191.950 162.415)
7749,0,842206.4344,2643120.843,161.5924,51_OWNER_0_NUMBER_0_RD.NAME_NA_MATRL_OTHER,POINT Z (2643120.843 842206.434 161.592)
7811,0,837547.7965,2645459.988,148.6835,"250 ST_SIZE_60""_MATRL_SMP_UNIT__NOTE_",POINT Z (2645459.988 837547.796 148.683)
7812,0,837552.9954,2645430.950,150.0233,"250_SIZE_60""_MATRL_SMP_UNIT__NOTE_",POINT Z (2645430.950 837552.995 150.023)

In [38]:
cl_gdf.to_file('../../data/interim/cl_points.shp')

c:\Users\christianl\Anaconda3\envs\lwi-apps\lib\site-packages\geopandas\io\file.py:299: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  pd.Int64Index,